<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src="./threeJS.js"></script>
    <script src="OrbitControls.js"></script>
    <script src="./tween.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <div :style="{'position': 'absolute', 'padding': '20px','width': isLoading?'100vw':'','height': isLoading?'100vh':''}" id="app"
        v-loading="isLoading" :body="true">
        <div>
            颜色模式{{isCustomize}}
            <el-select v-model="selectModal" placeholder="请选择" style="margin-left: 10px;">
                <el-option key="default" label="默认切换样式" value="default">
                </el-option>
                <el-option key="customize" label="自定义选择" value="customize">
                </el-option>
            </el-select>
        </div>
        <div style="margin-top: 10px;" v-if="!isCustomize">
            切换样式
            <el-radio-group v-model="selectStyle" style="margin-left: 10px;">
                <el-radio-button label="default"></el-radio-button>
                <el-radio-button label="blue"></el-radio-button>
                <el-radio-button label="black"></el-radio-button>
                <el-radio-button label="other"></el-radio-button>
            </el-radio-group>
        </div>
        <div v-if="isCustomize">
            眼睛背景色<el-color-picker v-model="selectEyeBack"></el-color-picker><br>
            外圈线颜色<el-color-picker v-model="selectLineColor"></el-color-picker><br>
            眼睛颜色1<el-color-picker v-model="selectEyesColor[0]"></el-color-picker><br>
            眼睛颜色2<el-color-picker v-model="selectEyesColor[1]"></el-color-picker><br>
            中间圆圈背景颜色<el-color-picker v-model="selectMidCircleBac"></el-color-picker><br>
            整体皮肤颜色<el-color-picker v-model="selectOverall"></el-color-picker><br>
            眼皮颜色<el-color-picker v-model="selectEyesUpDown"></el-color-picker><br>
            瞳孔中间圆圈颜色<el-color-picker v-model="selectCirInsideLine"></el-color-picker><br>
            瞳孔外围圆圈颜色<el-color-picker v-model="selectCirOutsideLine"></el-color-picker><br>
            <el-button type="danger" @click="selectFinish">选择完成</el-button>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    selectStyle: 'default',
                    selectModal: 'default',
                    selectEyeBack: '#00008B',
                    selectLineColor: '#000000',
                    selectEyesColor: ["#6A5ACD", "#00BFFF"],
                    selectMidCircleBac: '#B4B0BF',
                    selectOverall: '#fff',
                    selectEyesUpDown: '#ffffff',
                    selectCirInsideLine: '#5d05f5',
                    selectCirOutsideLine: '#ccb1fa',
                    isFirst: true,
                    eyeBack: {
                        default: '#00008B',
                        blue: '#6495ED',
                        black: '#000000',
                        other: '#F8F8FF'
                    },
                    lineColor: {
                        default: 'black',
                        blue: '#E6E6FA',
                        black: '#E1FFFF ',
                        other: '#ffffff'
                    },
                    eyesColor: {
                        default: ["#6A5ACD", "#00BFFF"],
                        blue: ["#00FFFF", "#F08080"],
                        black: ["#F0F8FF", "#00FFFF"],
                        other: ["#4169E1", "#00FFFF"]
                    },
                    midCircleBac: {
                        default: '#B4B0BF',
                        blue: '#F5FFFA',
                        black: '#000080',
                        other: '#ffffff'
                    },
                    overall: {
                        default: '#fff',
                        blue: '#ADD8E6',
                        black: '#000000',
                        other: '#FFE4E1'
                    },
                    eyesUpDown: {
                        default: '#ffffff',
                        blue: '#ADD8E6',
                        black: '#D4F2E7',
                        other: '#FFE4E1'
                    },
                    eyesCirInsideLine: {
                        default: '#5d05f5',
                        blue: '#ffffff',
                        black: '#000080',
                        other: '#E0FFFF'
                    },
                    eyesCirOutsideLine: {
                        default: '#ccb1fa',
                        blue: '#ffffff',
                        black: '#191970',
                        other: '#FFF0F5'
                    },
                    isLoading: '',
                    isInit: false
                }
            },
            watch: {
                selectStyle(newVal, oldVal) {
                    this.isFirst = false
                    this.isLoading = true
                    setTimeout(() => {
                        this.init()
                    }, 500)
                }
            },
            created() {
                this.init()
            },
            computed: {
                isCustomize() {
                    return this.selectModal === 'customize'
                }
            },
            methods: {
                selectFinish() {
                    this.isFirst = false
                    // this.tip()
                    this.isLoading = true
                    setTimeout(() => {
                        this.init()
                    }, 100)
                },
                init() {
                    function createBoxWithRoundedEdges(width, height, depth, radius0, smoothness) {
                        let shape = new THREE.Shape();
                        let eps = 0.00001;
                        let radius = radius0 - eps;
                        shape.absarc(eps, eps, eps, -Math.PI / 2, -Math.PI, true);
                        shape.absarc(eps, height - radius * 2, eps, Math.PI, Math.PI / 2, true);
                        shape.absarc(width - radius * 2, height - radius * 2, eps, Math.PI / 2, 0, true);
                        shape.absarc(width - radius * 2, eps, eps, 0, -Math.PI / 2, true);
                        let geometry = new THREE.ExtrudeBufferGeometry(shape, {
                            amount: depth - radius0 * 2,
                            bevelEnabled: true,
                            bevelSegments: smoothness * 2,
                            steps: 1,
                            bevelSize: radius,
                            bevelThickness: radius0,
                            curveSegments: smoothness
                        });

                        geometry.center();
                        return geometry;
                    }
                    if (!this.isFirst) {
                        document.getElementsByTagName('canvas')[0].remove()
                    }
                    var scene = new THREE.Scene();
                    var camera = new THREE.PerspectiveCamera(25, window.innerWidth / window.innerHeight, 1, 1000);
                    camera.position.set(2, 10, 7).setLength(17);
                    camera.lookAt(scene.position);
                    var renderer = new THREE.WebGLRenderer({
                        antialias: true
                    });
                    renderer.setClearColor(0xffffff);
                    renderer.setSize(window.innerWidth, window.innerHeight);
                    document.body.appendChild(renderer.domElement);

                    var controls = new THREE.OrbitControls(camera, renderer.domElement);

                    scene.add(new THREE.AmbientLight(0xffffff, .5));
                    var light = new THREE.DirectionalLight(0xffffff, .5);
                    light.position.setScalar(10);
                    scene.add(light);

                    var roundedBoxGeometry = createBoxWithRoundedEdges(1, 1, 1, .125, 280);
                    roundedBoxGeometry.computeVertexNormals();
                    roundedBoxGeometry.translate(0, 0, 0);
                    var colorNormal = new THREE.Color('#ffffff');
                    var canvas = document.createElement("canvas");
                    // var canvas = document.getElementById('canvas')
                    canvas.width = 512;
                    canvas.height = 512;
                    var ctx = canvas.getContext('2d');
                    ctx.fillStyle = this.isCustomize ? this.selectOverall : this.overall[this.selectStyle];
                    ctx.fillRect(0, 0, canvas.width, canvas.height);

                    ctx.beginPath();
                    ctx.lineWidth = 3;
                    ctx.strokeStyle = this.isCustomize ? this.selectLineColor : this.lineColor[this.selectStyle];
                    ctx.arc(200, 200, 190, 1, 200 * Math.PI);
                    ctx.arc(200, 200, 140, 1, 200 * Math.PI);
                    ctx.arc(200, 200, 100, 1, 200 * Math.PI);

                    ctx.moveTo(310, 285);
                    ctx.lineTo(355, 312);
                    ctx.stroke();

                    ctx.moveTo(200, 100);
                    ctx.lineTo(200, 320);
                    ctx.stroke();

                    ctx.closePath();

                    ctx.beginPath();
                    ctx.lineWidth = 40;
                    ctx.strokeStyle = this.isCustomize ? this.selectMidCircleBac : this.midCircleBac[this.selectStyle];
                    ctx.arc(200, 200, 120, 1, 200 * Math.PI);
                    ctx.stroke()
                    ctx.closePath();

                    var texture = new THREE.CanvasTexture(canvas);
                    texture.needsUpdate = true;
                    texture.wrapS = THREE.RepeatWrapping;
                    texture.wrapT = THREE.RepeatWrapping;
                    var roundedBoxMaterial = new THREE.MeshLambertMaterial({
                        map: texture,
                        color: colorNormal.clone()
                    });

                    var canvas2 = document.createElement("canvas");
                    // var canvas2 = document.getElementById('canvas2')
                    canvas2.width = 512;
                    canvas2.height = 512;
                    var ctx2 = canvas2.getContext('2d');
                    ctx2.fillStyle = this.isCustomize ? this.selectOverall : this.overall[this.selectStyle];
                    ctx2.fillRect(0, 0, canvas2.width, canvas2.height);

                    ctx2.beginPath();
                    ctx2.lineWidth = 2;
                    ctx2.strokeStyle = this.isCustomize ? this.selectLineColor : this.lineColor[this.selectStyle];
                    ctx2.arc(193, 320, 185, 1, 200 * Math.PI);
                    ctx2.arc(193, 320, 140, 1, 200 * Math.PI);
                    ctx2.arc(193, 320, 100, 1, 200 * Math.PI);

                    ctx2.moveTo(305, 405);
                    ctx2.lineTo(340, 430);
                    ctx2.stroke();

                    ctx2.moveTo(110, 380);
                    ctx2.lineTo(280, 380);
                    ctx2.stroke();

                    ctx2.moveTo(110, 260);
                    ctx2.lineTo(280, 260);
                    ctx2.stroke();

                    ctx2.closePath();

                    ctx2.beginPath()
                    ctx2.lineWidth = 120
                    ctx2.strokeStyle = this.isCustomize ? this.selectEyeBack : this.eyeBack[this.selectStyle]
                    ctx2.moveTo(90, 320)
                    ctx2.lineTo(300, 320)
                    ctx2.stroke()
                    ctx2.closePath()

                    ctx2.beginPath();
                    ctx2.lineWidth = 40;
                    ctx2.strokeStyle = this.isCustomize ? this.selectMidCircleBac : this.midCircleBac[this.selectStyle];
                    ctx2.arc(193, 320, 120, 1, 200 * Math.PI);
                    ctx2.stroke()
                    ctx2.closePath();

                    ctx2.beginPath();
                    ctx2.lineWidth = 6;
                    var gradient = ctx.createLinearGradient(174, 260, 300, 300);
                    gradient.addColorStop(0, this.isCustomize ? this.selectEyesColor[0] : this.eyesColor[this.selectStyle][0]);
                    gradient.addColorStop(1, this.isCustomize ? this.selectEyesColor[1] : this.eyesColor[this.selectStyle][1]);
                    ctx2.fillStyle = gradient
                    var startingX = 194, startingY = 296, firstX = 178, firstY = 242, secondX = 215, secondY = 243, endingX = 194, endingY = 297;
                    ctx2.moveTo(startingX, startingY);
                    ctx2.bezierCurveTo(firstX, firstY, secondX, secondY, endingX, endingY);
                    ctx2.moveTo(startingX + 6, startingY + 12)
                    ctx2.bezierCurveTo(firstX + 25, firstY - 7, secondX + 33, secondY + 16, endingX, endingY + 10);
                    ctx2.moveTo(startingX + 4, startingY + 19)
                    ctx2.bezierCurveTo(firstX + 61, firstY + 4, secondX + 57, secondY + 43, endingX - 4, endingY + 16);
                    ctx2.moveTo(startingX + 2, startingY + 23)
                    ctx2.bezierCurveTo(firstX + 90, firstY + 29, secondX + 53, secondY + 76, endingX + 5, endingY + 17);
                    ctx2.moveTo(startingX + 9, startingY + 25)
                    ctx2.bezierCurveTo(firstX + 92, firstY + 63, secondX + 57, secondY + 97, endingX + 8, endingY + 26);
                    ctx2.moveTo(startingX + 7, startingY + 30)
                    ctx2.bezierCurveTo(firstX + 101, firstY + 94, secondX + 35, secondY + 131, endingX + 8, endingY + 25);
                    ctx2.moveTo(startingX + 7, startingY + 33)
                    ctx2.bezierCurveTo(firstX + 84, firstY + 122, secondX + 16, secondY + 148, endingX + 5, endingY + 31);
                    ctx2.moveTo(startingX - 3, startingY + 33)
                    ctx2.bezierCurveTo(firstX + 67, firstY + 144, secondX - 8, secondY + 156, endingX, endingY + 36);
                    ctx2.moveTo(startingX - 6, startingY + 30)
                    ctx2.bezierCurveTo(firstX + 37, firstY + 161, secondX - 42, secondY + 155, endingX - 3, endingY + 33);
                    ctx2.moveTo(startingX - 10, startingY + 31)
                    ctx2.bezierCurveTo(firstX + 8, firstY + 165, secondX - 72, secondY + 138, endingX - 7, endingY + 37);
                    ctx2.moveTo(startingX - 13, startingY + 31)
                    ctx2.bezierCurveTo(firstX - 25, firstY + 153, secondX - 92, secondY + 119, endingX - 15, endingY + 32);
                    ctx2.moveTo(startingX - 17, startingY + 25)
                    ctx2.bezierCurveTo(firstX - 49, firstY + 130, secondX - 106, secondY + 87, endingX - 20, endingY + 26);
                    ctx2.moveTo(startingX - 14, startingY + 16)
                    ctx2.bezierCurveTo(firstX - 68, firstY + 103, secondX - 103, secondY + 56, endingX - 18, endingY + 19);
                    ctx2.moveTo(startingX - 14, startingY + 14)
                    ctx2.bezierCurveTo(firstX - 70, firstY + 67, secondX - 90, secondY + 26, endingX - 16, endingY + 13);
                    ctx2.moveTo(startingX - 8, startingY + 14)
                    ctx2.bezierCurveTo(firstX - 57, firstY + 31, secondX - 56, secondY - 3, endingX - 13, endingY + 12);
                    ctx2.moveTo(startingX - 2, startingY + 14)
                    ctx2.bezierCurveTo(firstX - 33, firstY + 4, secondX - 22, secondY - 7, endingX - 9, endingY + 10);
                    ctx2.fill();
                    ctx2.closePath()

                    ctx2.beginPath();
                    ctx2.lineWidth = 4;
                    ctx2.fillStyle = this.isCustomize ? this.selectEyeBack : this.eyeBack[this.selectStyle];
                    console.info(this.data,this.isCustomize, this.selectEyeBack, this.eyeBack[this.selectStyle], this.isCustomize ? this.selectEyeBack : this.eyeBack[this.selectStyle])
                    ctx2.arc(192, 320, 30, 1, 200 * Math.PI);
                    ctx2.fill()
                    ctx2.closePath();

                    ctx2.beginPath();
                    ctx2.lineWidth = 4;
                    ctx2.strokeStyle = this.isCustomize ? this.selectCirInsideLine : this.eyesCirInsideLine[this.selectStyle];
                    ctx2.arc(192, 320, 30, 1, 200 * Math.PI);
                    ctx2.stroke()
                    ctx2.closePath();

                    ctx2.beginPath();
                    ctx2.lineWidth = 4;
                    ctx2.strokeStyle = this.isCustomize ? this.selectCirOutsideLine : this.eyesCirOutsideLine[this.selectStyle];
                    ctx2.arc(192, 320, 80, 1, 200 * Math.PI);
                    ctx2.stroke()
                    ctx2.closePath();

                    ctx2.beginPath();
                    ctx2.fillStyle = this.isCustomize ? this.selectEyesUpDown : this.eyesUpDown[this.selectStyle];
                    ctx2.arc(193, 320, 100, 3.78, 5.65);
                    ctx2.fill();
                    ctx2.closePath()

                    ctx2.beginPath();
                    ctx2.fillStyle = this.isCustomize ? this.selectEyesUpDown : this.eyesUpDown[this.selectStyle];
                    ctx2.arc(193, 320, 100, 6.9, 8.84);
                    ctx2.fill();
                    ctx2.closePath()

                    var texture2 = new THREE.CanvasTexture(canvas2);
                    texture2.wrapS = THREE.RepeatWrapping;
                    texture2.wrapT = THREE.RepeatWrapping;
                    texture2.needsUpdate = true;
                    var roundedBoxMaterial2 = new THREE.MeshLambertMaterial({
                        map: texture2,
                        color: colorNormal.clone()
                    });

                    let roundedBox2 = new THREE.Mesh(roundedBoxGeometry, [roundedBoxMaterial2, roundedBoxMaterial]);

                    scene.add(roundedBox2);

                    render();

                    function render() {
                        requestAnimationFrame(render);
                        TWEEN.update();
                        renderer.render(scene, camera);
                    }
                    this.isLoading = false
                }
            }
        })
    </script>
</body>

<style>
    body {
        margin: 0px;
    }

    .el-color-picker {
        vertical-align: middle;
        padding: 5px;
    }
</style>

</html>